.uploadContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.uploadContainer :global(.ant-upload-list) {
  max-width: 400px !important;
}

.uploadContainer :global(.ant-upload-list .ant-upload-list-item) {
  margin-top: 0 !important;
  border: 1px dashed var(--ant-color-border) !important;
  padding: var(--ant-padding-sm);
}

.uploadContainer :global(.ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions) {
  opacity: 1 !important;
}
