.tabsContainer {
  margin: 0 !important;
}

.tabsContainer :global(.ant-tabs-nav) {
  margin: 0 !important;
}

.pageTitleContainer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
